<div class="section-header">
    <div class="title">
        <i class="fas fa-user-friends"></i>
        BỘ PHẬN/PHÒNG BAN
    </div>
    <div class="options">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#departmentModelDialog" ng-click="$ctrl.onAdd()">
            <i class="fa fa-plus"></i> Thêm mới
        </button>
        <button type="button" ng-click="$ctrl.onRemoves()" class="btn btn-danger">
            <i class="fa fa-close"></i> Xóa
        </button>
    </div>
</div>

<h6 class="card-subtitle">Quản lý danh sách bộ phận/phòng ban của hệ thống</h6>

<div class="row mt-3 grid-filter" style>
    <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
        <div class="ctl-label">
            <label>Tìm kiếm</label>
        </div>
        <input type="search" class="form-control input-sm" placeholder="" aria-controls="editable-datatable" ng-model="$ctrl.search"
            ng-keypress="$ctrl.onSearch($event)">
    </div>
</div>

<table class="display nowrap table table-hover table-striped table-bordered full-color-table full-info-table hover-table"
    cellspacing="0" width="100%">
    <colgroup>
        <col width="50" />
        <col width="25%" />
        <col width="45%" />
        <col width="15%" />
        <col width="15%" />
    </colgroup>
    <thead>
        <tr>
            <th>
                <input type="checkbox" id="chkAll" ng-click="$ctrl.toggleAll()" ng-model="$ctrl.isAllSelected" class="filled-in chk-col-light-blue"
                />
                <label for="chkAll"></label>
            </th>
            <th>Tên bộ phận</th>
            <th>Chức năng/nhiệm vụ</th>
            <th>Thứ tự</th>
            <th></th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th></th>
            <th>Tên bộ phận</th>
            <th>Chức năng/nhiệm vụ</th>
            <th>Thứ tự</th>
            <th></th>
        </tr>
    </tfoot>
    <tbody dir-paginate="department in $ctrl.departmentModels | itemsPerPage: $ctrl.pageSize" pagination-id="dataPagination"
        current-page="$ctrl.currentPage" total-items="$ctrl.totalRowCount">
        <tr>
            <td class="center">
                <input type="checkbox" ng-model="department.selected" id="chkItem{{$index+1}}" class="filled-in chk-col-light-blue" />
                <label for="chkItem{{$index+1}}"></label>
            </td>

            <td>{{ department.Name }}</td>
            <td>{{ department.Description }}</td>
            <td>{{ department.Order }}</td>

            <td class="text-nowrap">
                <a class="btn" data-toggle="modal" data-target="#departmentModelDialog" ng-click="$ctrl.onEdit(department)" data-original-title="Cập nhật">
                    <i class="fas fa-pencil text-inverse"></i>
                </a>
                <a class="btn" data-toggle="tooltip" data-original-title="Xóa" ng-click="$ctrl.onRemove(department)">
                    <i class="fas fa-close text-danger"></i>
                </a>
            </td>
        </tr>
    </tbody>
</table>

<div class="row" ng-show="false">
    <div class="col-sm-6">
        <div class="dataTables_length" id="datatable-responsive_length">
            <label>
                <select name="datatable-responsive_length" ng-model="$ctrl.pageSize" aria-controls="datatable-responsive" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                records / page
            </label>
        </div>
    </div>
    <div class="col-sm-6">
        <dir-pagination-controls boundary-links="true" on-page-change="$ctrl.onPageChanged(newPageNumber)" pagination-id="dataPagination"></dir-pagination-controls>
    </div>
</div>

<div class="modal fade" my-modal="departmentModelDialog" id="departmentModelDialog" tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">{{ $ctrl.currentDepartmentModel.Id==0 || $ctrl.currentDepartmentModel.Id==undefined ?'Thêm mới':'Cập nhật'
                    }} bộ phận</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Tên bộ phận *:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.currentDepartmentModel.Name" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Giới thiệu vai trò/nhiệm vụ *:</label>
                        <textarea rows="5" class="form-control" ng-model="$ctrl.currentDepartmentModel.Description" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Thứ tự:</label>
                        <input type="number" class="form-control" ng-model="$ctrl.currentDepartmentModel.Order" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.onSaveDepartmentModel()">Ghi lại</button>
            </div>
        </div>
    </div>
</div>