<div class="section-header">
    <div class="title">
        <i class="fas fa-money-bill-alt"></i>
        THỐNG KÊ BÁN HÀNG
    </div>
    <div class="options">
        <button type="button" class="btn btn-info" data-toggle="modal" data-target="#stockCardModelDialog" ng-click="$ctrl.onAdd()">
            <i class="fas fa-filter"></i> Thống kê
        </button>
        <button type="button" ng-click="$ctrl.onRemoves()" class="btn btn-primary">
            <i class="fas fa-file-excel-o"></i> Xuất excel
        </button>
        <button type="button" ng-click="$ctrl.onRemoves()" class="btn btn-danger">
            <i class="fas fa-print"></i> In báo cáo
        </button>
    </div>
</div>

<h6 class="card-subtitle">Thống kê bán hàng theo công ty, các mặt hàng đã bán...</h6>

<div class="row mt-3 grid-filter" style>
    <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
        <div class="ctl-label">
            <label>Lọc theo mặt hàng</label>
        </div>
        <select name="editable-datatable_length" aria-controls="editable-datatable" class="form-control input-sm">
            <option value="">---Mặt hàng---</option>
            <option value="">KH A</option>
            <option value="">KH B</option>
        </select>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
        <div class="ctl-label">
            <label>Lọc theo công ty</label>
        </div>
        <select name="editable-datatable_length" aria-controls="editable-datatable" class="form-control input-sm">
            <option value="">---Công ty---</option>
            <option value="">KH A</option>
            <option value="">KH B</option>
        </select>
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
        <div class="ctl-label">
            <label>Lọc theo kỳ báo cáo</label>
        </div>
        <input class="form-control input-daterange-datepicker" type="text" name="daterange" value="">
    </div>
</div>

<table class="display nowrap table table-hover table-striped table-bordered full-color-table full-info-table hover-table"
    cellspacing="0" width="100%">
    <colgroup>
        <col width="50" />
        <col width="10%" />
        <col width="10%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
        <col width="15%" />
    </colgroup>
    <thead>
        <tr>
            <th>
            </th>
            <th>Ngày tháng</th>
            <th>Quyển</th>
            <th>Người mua hàng</th>
            <th>Tên hàng</th>
            <th>Mã Cty</th>
            <th>Đvt</th>
            <th>Khối lượng</th>
            <th>Giá bán</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th>
            </th>
            <th>Ngày tháng</th>
            <th>Quyển</th>
            <th>Người mua hàng</th>
            <th>Tên hàng</th>
            <th>Mã Cty</th>
            <th>Đvt</th>
            <th>Khối lượng</th>
            <th>Giá bán</th>
        </tr>
    </tfoot>
    <tbody dir-paginate="stockCard in $ctrl.stockCardModels | itemsPerPage: $ctrl.pageSize" pagination-id="dataPagination" current-page="$ctrl.currentPage"
        total-items="$ctrl.totalRowCount">
        <tr>
            <td class="center">
                {{$index+1}}
            </td>
            <td>{{ stockCard.Ngaythang }}</td>
            <td>{{ stockCard.Quyen }}</td>
            <td>{{ stockCard.TenKH }}</td>
            <td>{{ stockCard.Tenhang }}</td>
            <td>{{ stockCard.MaCty }}</td>
            <td>{{ stockCard.Dvt }}</td>
            <td>{{ stockCard.Khoiluong }}</td>
            <td>{{ stockCard.Giaban }}</td>
        </tr>
    </tbody>
</table>


<div class="row">
    <div class="col-sm-6">
        <div class="dataTables_length" id="datatable-responsive_length">
            <label>
                <select name="datatable-responsive_length" ng-model="$ctrl.pageSize" aria-controls="datatable-responsive" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                records / page
            </label>
        </div>
    </div>
    <div class="col-sm-6">
        <dir-pagination-controls boundary-links="true" on-page-change="$ctrl.onPageChanged(newPageNumber)" pagination-id="dataPagination"></dir-pagination-controls>
    </div>
</div>

<div class="modal fade" my-modal="stockCardModelDialog" id="stockCardModelDialog" tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">{{ $ctrl.currentProviderModel.Id==0 || $ctrl.currentProviderModel.Id==undefined ?'Thêm mới':'Cập nhật' }}
                    khách hàng</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Mã KH *:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.currentProviderModel.Code" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Tên khách hàng *:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.currentProviderModel.Name" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Địa chỉ:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.currentProviderModel.Address" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Khu vực:</label>
                        <select name="editable-datatable_length" aria-controls="editable-datatable" class="form-control input-sm" ng-model="$ctrl.currentUserModel.DepartmentModel"
                            ng-options="s.Name for s in $ctrl.departmentModels">
                            <option value="">---Chọn khu vực---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Xếp hạng:</label>
                        <select name="editable-datatable_length" aria-controls="editable-datatable" class="form-control input-sm" ng-model="$ctrl.currentUserModel.DepartmentModel"
                            ng-options="s.Name for s in $ctrl.departmentModels">
                            <option value="">---Chọn hạng---</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Số điện thoại:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.currentProviderModel.Phone" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Fax:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.currentProviderModel.Fax" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Người liên hệ:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.currentProviderModel.Fax" />
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="control-label">Điện thoại người liên hệ:</label>
                        <input type="text" class="form-control" ng-model="$ctrl.currentProviderModel.Fax" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.onSaveProviderModel()">Ghi lại</button>
            </div>
        </div>
    </div>
</div>