<div class="section-header">
    <div class="title">
        <i class="fas fa-signal"></i>
        TÀI LIỆU ĐÍNH KÈM
    </div>
    <div class="options">
        <button ng-click="$ctrl.add()" data-toggle="modal" data-target="#tab11" class="btn waves-effect waves-light btn-info" data-original-title="Thêm thông tin">
            <i class="fas fa-plus"></i> Thêm thông tin
        </button>
    </div>
</div>

<div class="row mt-3 grid-filter">
    <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
        <div class="ctl-label">
            <label>Tìm kiếm theo tên, mô tả . . .</label>
        </div>
        <input ng-model="$ctrl.text" class="form-control" aria-controls="editable-datatable" placeholder="Tìm theo họ tên" type="text"
            ng-keypress="$ctrl.search($event)" />
    </div>
    <div class="col-sm-6 col-lg-4 col-xl-3 form-group">
        <div class="ctl-label">
            <label>Lọc theo người gửi</label>
        </div>
        <select class="custom-select col-12" id="inlineFormCustomSelect" ng-model="$ctrl.nguoigui" ng-options="s.Hovaten for s in $ctrl.liCustomjoins"
            ng-change="$ctrl.onSelectKythuat(nguoigui)">
            <option value="">-- Người gửi --</option>
        </select>
    </div>
</div>


<table class="display nowrap table table-hover table-striped table-bordered full-color-table full-info-table hover-table"
    cellspacing="0" width="100%">
    <colgroup>
        <col width="50" />
        <col width="50%" />
        <col width="15%" />
        <col width="15%" />
        <col width="10%" />
        <col />
    </colgroup>
    <thead>
        <tr>
            <th>STT</th>
            <th>Bản vẽ</th>
            <th>Ngày gửi</th>
            <th>Người gửi</th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody ng-repeat="item in $ctrl.liAttachments">
        <tr>
            <td class="center">
                {{$index + 1}}
            </td>
            <td class="center">
                {{item.Kehoach.NoidungThuchien}}
            </td>
            <td class="center">
                {{item.Ngaytao | date: 'dd/MM/yyyy'}}
            </td>
            <td class="center">
                {{item.Nguoitao.Hovaten}}
            </td>
            <td class="text-nowrap">
                <button ng-click="$ctrl.edit(item)" data-toggle="modal" data-target="#tab11" class="btn waves-effect waves-light btn-xs btn-default"
                    data-original-title="Sửa">
                    <i class=""></i> Sửa</button>
                <button ng-click="$ctrl.delete(item)" class="btn waves-effect waves-light btn-xs btn-default" data-original-title="Xóa">
                    <i class=""></i> Xóa</button>
            </td>
        </tr>
        <tr>
            <td colspan="5">
                <img ng-repeat="anh in item.AnhCongtrinhs" src="{{anh.AnhCongtrinh}}">
            </td>
        </tr>
    </tbody>
</table>


<div class="modal fade" my-modal="roleModelDialog" id="tab11" tabindex="-1" role="dialog" aria-labelledby="changePassModalLabel"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel1">
                    <b>Thêm/sửa thông tin</b>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="ng-pristine ng-valid">
                    <div class="row">
                        <div class="col-md-12">
                            <select class="custom-select col-12" id="inlineFormCustomSelect" ng-model="$ctrl.model.KehoachId" ng-options="s.Id as s.NoidungThuchien for s in $ctrl.liPlanDeploys">
                                <option value="">-- Giai đoạn --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Ngày gửi</label>
                        </div>
                        <div class="col-md-9">
                            <input ng-model="$ctrl.model.Ngaytao" class="form-control" date-picker lang="vi" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <select class="custom-select col-12" id="inlineFormCustomSelect" ng-model="$ctrl.model.NguoitaoId" ng-options="s.UserId as s.Hovaten for s in $ctrl.liCustomjoins">
                                <option value="">-- Người gửi --</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input ng-model="$ctrl.model.aaa" class="form-control" type="file" placeholder="Ảnh công trình" nv-file-select uploader="$ctrl.uploader"
                                multiple/>
                        </div>
                        <div ng-show="$ctrl.model.FileKey != undefined">
                            <b>files uploaded</b>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button ng-click="$ctrl.cancel()" type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                <button ng-click="$ctrl.insert()" type="button" class="btn btn-primary" ng-click="$ctrl.onSaveRoleModel()">Ghi lại</button>

            </div>
        </div>
    </div>
</div>