<div class="section-header">
    <div class="title">
        <i class="fas fa-user-friends"></i>
        Lập hợp đồng mới
    </div>
</div>


<div class="tab-pane p-20 active" id="kehoachsanxuat" role="tabpanel">
    <div class="form-group row">
        <div class="col-sm-3">
            <select class="custom-select col-12" id="inlineFormCustomSelect">
                <option selected="">-- Chọn loại hợp đồng --</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            <label class="card-title control-label col-form-label">
                Ngày ký
            </label>
            <input class="form-control" type="text" placeholder="Ngày ký" id="example-text-input">
        </div>
        <div class="col-sm-4">
            <label class="card-title control-label col-form-label">
                Ngày hết hạn
            </label>
            <input class="form-control" type="text" placeholder="Ngày hết hạn" id="example-text-input">
        </div>
        <div class="col-sm-4">
            <label class="card-title control-label col-form-label">
                Ngày gia hạn
            </label>
            <input class="form-control" type="text" placeholder="Ngày hết hạn" id="example-text-input">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-6">
            <label class="card-title control-label col-form-label">
                Nhân viên khai thác hợp đồng
            </label>
            <input class="form-control" type="text" placeholder=" Nhân viên khai thác hợp đồng" id="example-text-input">
        </div>
        <div class="col-sm-6">
            <label class="card-title control-label col-form-label">
                Nhân viên CSKH
            </label>
            <input class="form-control" type="text" placeholder="Nhân viên CSKH" id="example-text-input">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            <input type="checkbox" id="basic_checkbox_1" class="filled-in" checked="">
            <label for="basic_checkbox_1">Hợp đồng mới</label>
        </div>
        <div class="col-sm-4">
            <input type="checkbox" id="basic_checkbox_1" class="filled-in" checked="">
            <label for="basic_checkbox_1">Hợp đồng duy trì</label>
        </div>
        <div class="col-sm-4">
            <input type="checkbox" id="basic_checkbox_1" class="filled-in" checked="">
            <label for="basic_checkbox_1">Hợp đồng chờ</label>
        </div>
    </div>

    <div class="form-group row">
        <div class="col-sm-4">
            <input type="checkbox" id="basic_checkbox_1" class="filled-in" checked="">
            <label for="basic_checkbox_1">Tự động gia hạn</label>
        </div>
        <div class="col-sm-4">
            <input type="checkbox" id="basic_checkbox_1" class="filled-in" checked="">
            <label for="basic_checkbox_1">Yêu cầu có phụ lục</label>
        </div>
        <div class="col-sm-3">
            <input class="form-control" type="number" placeholder="Thời gian gia hạn..." id="example-text-input">
        </div>
        <div class="col-sm-1">tháng</div>
    </div>

    <div class="form-group row">
        <div class="col-sm-2">
            <label class="card-title control-label col-form-label">Ghi chú: </label>
        </div>
        <div class="col-sm-10">
            <textarea class="form-control" rows="5"></textarea>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-sm-2">
            <label class="card-title control-label col-form-label">Vị trí lưu hồ sơ: </label>
        </div>
        <div class="col-sm-4">
            <input class="form-control" type="text" placeholder="Vị trí lưu hồ sơ..." id="example-text-input">
        </div>
        <div class="col-sm-2">
            <label class="card-title control-label col-form-label">File đính kèm: </label>
        </div>
        <div class="col-sm-4">
            <input class="form-control" type="file" placeholder="File đính kèm..." id="example-text-input">
        </div>
    </div>

    <div class="form-group row">
        <div class="text-right col-sm-12">
            <button type="button" class="btn btn-warning">
                <i class="fa fa-ban"></i> Hủy</button>
            <button type="button" class="btn btn-info">
                <i class="fa fa-save"></i> Ghi lại</button>
            <button type="button" class="btn btn-success">
                <i class="ti-back-right"></i> Ghi và trở lại</button>
        </div>
    </div>

</div>