<div class="section-header">
    <div class="title">
        <i class="fas fa-user-friends"></i>
        Khách hàng
    </div>
    <div class="options">
        <button ng-show="$ctrl.status=='new'" type="button" class="btn btn-default">
            <i class="fas fa-plus"></i> Tạo mới KH
        </button>
        <button type="button" class="btn btn-default">Chuyển cho sale</button>
        <button type="button" class="btn btn-default">Nạp khách hàng từ excel</button>
        <button type="button" class="btn btn-default">Xuất ra excel</button>
        <button type="button" class="btn btn-warning">Xóa</button>
    </div>
</div>


<div class="col-sm-2 text-right ">
    <button type="button" class="btn btn-default">Lọc dữ liệu</button>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-8">
            </div>
            <div class="col-sm-2">
                <select class="custom-select col-12" id="inlineFormCustomSelect">
                    <option selected="">-- Kinh doanh nhận --</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
            <div class="col-sm-2">
                <select class="custom-select col-12" id="inlineFormCustomSelect">
                    <option selected="">-- Người tạo --</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
        <label class="card-title control-label col-form-label">
            Tìm kiếm
        </label>
    </div>
    <div class="col-sm-2">
        <input class="form-control" type="text" placeholder="Nội dung cần tìm" id="example-text-input">
    </div>
    <div class="col-sm-2">0
        <select class="custom-select col-12" id="inlineFormCustomSelect">
            <option selected="">-- Chăm sóc --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="custom-select col-12" id="inlineFormCustomSelect">
            <option selected="">-- Thành phố --</option>
            <option value="1">One</option>00
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="custom-select col-12" id="inlineFormCustomSelect">
            <option selected="">-- Quận huyện --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="custom-select col-12" id="inlineFormCustomSelect">
            <option selected="">-- Nhu cầu giá --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-2">
        <input class="form-control" type="text" placeholder="Lọc theo thời gian" id="example-text-input">
    </div>
    <div class="col-sm-2">
        <select class="custom-select col-12" id="inlineFormCustomSelect">
            <option selected="">-- Người xử lý --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="custom-select col-12" id="inlineFormCustomSelect">
            <option selected="">-- Loại khách --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="custom-select col-12" id="inlineFormCustomSelect">
            <option selected="">-- Sản phẩm quan tâm --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="col-sm-2">
        <select class="custom-select col-12" id="inlineFormCustomSelect">
            <option selected="">-- Nguồn khách --</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="display nowrap table table-hover table-striped table-bordered full-color-table full-info-table hover-table"
            cellspacing="0" width="100%">
            <colgroup>
                <col width="50" />
                <col width="50" />
                <col width="25%" />
                <col width="25%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
                <col width="15%" />
            </colgroup>
            <thead>
                <tr>
                    <th>STT</th>
                    <th>
                        <input type="checkbox" id="chkAll" ng-click="$ctrl.toggleAll()" ng-model="$ctrl.isAllSelected" class="filled-in chk-col-light-blue"
                        />
                        <label for="chkAll"></label>
                    </th>
                    <th>Khách hàng</th>
                    <th>Thông tin khác</th>
                    <th>Ngày tạo/cập nhật</th>
                    <th>Tình trạng</th>
                    <th>Ngày xử lý/tạo</th>
                    <th></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th>STT</th>
                    <th></th>
                    <th>Khách hàng</th>
                    <th>Thông tin khác</th>
                    <th>Ngày tạo/cập nhật</th>
                    <th>Tình trạng</th>
                    <th>Ngày xử lý/tạo</th>
                    <th></th>
                </tr>
            </tfoot>
            <tbody dir-paginate="city in $ctrl.cityModels | itemsPerPage: $ctrl.pageSize" pagination-id="dataPagination" current-page="$ctrl.currentPage"
                total-items="$ctrl.totalRowCount">
                <tr>
                    <td class="center"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center"></td>
                    <td class="text-nowrap">
                        <a class="btn" data-original-title="Sửa">
                            <i class="fa fa-pencil text-inverse"></i>
                        </a>
                        <a class="btn" data-original-title="Xóa">
                            <i class="fa fa-pencil text-inverse"></i>
                        </a>
                        <a class="btn" data-original-title="Chuyển sale">
                            <i class="fa fa-pencil text-inverse"></i>
                        </a>
                        <a class="btn" data-original-title="Tư vấn">
                            <i class="fa fa-pencil text-inverse"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="dataTables_length" id="datatable-responsive_length">
            <label>
                <select name="datatable-responsive_length" ng-model="$ctrl.pageSize" aria-controls="datatable-responsive" class="form-control">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>
                bản ghi / trang
            </label>
        </div>
    </div>
    <div class="col-sm-6">
        <dir-pagination-controls boundary-links="true" on-page-change="$ctrl.onPageChanged(newPageNumber)" pagination-id="dataPagination"></dir-pagination-controls>
    </div>
</div>