<div class="section-header">
    <div class="title">
        <i class="fas fa-user-friends"></i>
        THỐNG KÊ CHUNG
    </div>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="card bg-info">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <i class="ti-package" style="color: #fff; display: block; font-size: 60px;"></i>
                    </div>
                    <div class="align-self-center">
                        <h2 class="m-t-0 text-white">MARKETING</h2>
                        <h6 class="text-white m-t-10 m-b-0">KH MỚI: 12</h6>
                        <h6 class="text-white m-t-10 m-b-0">KH ĐÃ CHUYỂN SALE: 34</h6>
                        <h6 class="text-white m-t-10 m-b-0">KH ĐÃ CHUYỂN ĐỔI: 120</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-success">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <i class="mdi mdi-apps" style="color: #fff; display: block; font-size: 60px;"></i>
                    </div>
                    <div class="align-self-center">
                        <h2 class="m-t-0 text-white">SALER</h2>
                        <h6 class="text-white m-t-10 m-b-0">KH MỚI TIẾP NHẬN: 45</h6>
                        <h6 class="text-white m-t-10 m-b-0">KH ĐÃ CHỐT SALE: 65</h6>
                        <h6 class="text-white m-t-10 m-b-0">KH CHỐT FAIL: 14</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="card bg-primary">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center">
                        <i class="ti-file" style="color: #fff; display: block; font-size: 60px;"></i>
                    </div>
                    <div class="align-self-center">
                        <h2 class="m-t-0 text-white">KỸ THUẬT</h2>
                        <h6 class="text-white m-t-10 m-b-0">HĐ CHỜ THI CÔNG: 54</h6>
                        <h6 class="text-white m-t-10 m-b-0">HĐ ĐANG THI CÔNG: 114</h6>
                        <h6 class="text-white m-t-10 m-b-0">HĐ ĐÃ HOÀN THÀNH: 14</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--<div class="row">
    <div class="col-lg-6">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><i class="ti-shopping-cart" style="color: #fff; display: block; font-size: 60px;"></i></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">MUA HÀNG</h6>
                        <h2 class="m-t-0 text-white">TỔNG: {{ $ctrl.purchaseModel.Total }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card bg-danger">
            <div class="card-body">
                <div class="d-flex no-block">
                    <div class="m-r-20 align-self-center"><i class="ti-credit-card" style="color: #fff; display: block; font-size: 60px;"></i></div>
                    <div class="align-self-center">
                        <h6 class="text-white m-t-10 m-b-0">BÁN HÀNG</h6>
                        <h2 class="m-t-0 text-white">TỔNG: {{ $ctrl.saleModel.Total }}</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->